<div class="main-content" style="width: 100%;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="card">
                    <div class="card-header">Total Orders</div>
                    <div class="card-body">
                        <i class="fa fa-shopping-cart fa-3x"></i>
                        <h2 class="float-right">40</h2>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary">Details</button>
                        <!-- <a href="#" class="card-link">Details</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="card">
                    <div class="card-header">Total Sales</div>
                    <div class="card-body">
                        <i class="fa fa-credit-card fa-3x"></i>
                        <h2 class="float-right">30</h2>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary">Details</button>
                        <!-- <a href="#" class="card-link">Details</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="card">
                    <div class="card-header">Total Customer</div>
                    <div class="card-body">
                        <i class="fa fa-user fa-3x"></i>
                        <h2 class="float-right">80</h2>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary">Details</button>
                        <!-- <a href="#" class="card-link">Details</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="card">
                    <div class="card-header">Users Online</div>
                    <div class="card-body">
                        <i class="fa fa-eye fa-3x"></i>
                        <h2 class="float-right">3</h2>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary">Details</button>
                        <!-- <a href="#" class="card-link">Details</a> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Sales</h4>
                    </div>
                    <div class="card-body">
                        <canvas id="myChart" height="170"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Maps</h4>
                    </div>
                    <div class="card-body">
                        <div class="gaijin-maps">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d46632.237005778734!2d141.336558!3d43.072671!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f0b290bc5dc9a43%3A0x425f98023e0b86d5!2sHokkaido+University!5e0!3m2!1sen!2sus!4v1564067226146!5m2!1sen!2sus" width="600" height="auto" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-header">Tickets</div>
                    <div class="card-body p-0">
                  <div class="tickets-list">
                    <a href="#" class="ticket-item">
                      <div class="ticket-title">
                        <h4>Where is my order?</h4>
                      </div>
                      <div class="ticket-info">
                        <div>Bekti Galan</div>
                        <div class="bullet"></div>
                        <div class="text-primary">1 day ago</div>
                      </div>
                    </a>
                    <a href="#" class="ticket-item">
                      <div class="ticket-title">
                        <h4>Please cancel my order</h4>
                      </div>
                      <div class="ticket-info">
                        <div>Ahmad Fauzi</div>
                        <div class="bullet"></div>
                        <div>2 hours ago</div>
                      </div>
                    </a>
                    <a href="" class="ticket-item ticket-more float-right">
                      View All <i class="fas fa-chevron-right"></i>
                    </a>
                  </div>
                </div>
                </div>
            </div>
            <div class="col-8">
                <div class="card">
                    <div class="card-header">Latest Orders</div>
                    <div class="card-body p-0">
                  <div class="table-responsive table-invoice">
                    <table class="table table-striped">
                      <tr>
                        <th>Invoice ID</th>
                        <th>Customer</th>
                        <th>Status</th>
                        <th>Due Date</th>
                        <th>Action</th>
                      </tr>
                      <tr>
                        <td><a href="#">INV-1</a></td>
                        <td class="font-weight-600">Bekti Galan</td>
                        <td><div class="badge badge-warning">Unpaid</div></td>
                        <td>2 August 2019</td>
                        <td>
                          <a href="#" class="btn btn-primary">Details</a>
                        </td>
                      </tr>
                      <tr>
                        <td><a href="#">INV-48574</a></td>
                        <td class="font-weight-600">Ghozie</td>
                        <td><div class="badge badge-success">Paid</div></td>
                        <td>2 August 2019</td>
                        <td>
                          <a href="#" class="btn btn-primary">Details</a>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
