<div id="filterfabposition">
    <div id="filterfabcontent">
		<div id="filter-fab" data-toggle="modal" data-target="#filterModal" class="filter-fab" data-new-product-path="<%= new_product_path %>" style="align-items: center;justify-content: center;" >
		    <i class="fas fa-filter" style="color: orange; font-size: 20px; margin-right: 5px;"></i><h6 style="vertical-align: middle; margin-top: 5px">筛选</h6>
		</div>
	</div>
</div>