<div class="tab-pane" id="shipping-address" role="tabpanel" aria-labelledby="shipping-address">
    <div class="col-12">
        <div class="mb-2">
            <button class="btn btn-primary btn-lg btn-icon icon-left"><i class="fa fa-plus"></i> Add New Address</button>
        </div>
        <hr>
        <table class="table">
            <thead style="color: none;">
                <tr>
                    <th width="200px">Receiver</th>
                    <!-- <th scope="col">Product's Name</th> -->
                    <th class="text-center" width="300px">Address</th>
                    <th class="text-center">District</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Bekti Galan</td>
                    <td><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.</p></td>
                    <td class="text-center">Hokkaido, Japan</td>
                    <td>
                        <center>
                            <button class="btn btn-outline-primary btn-icon icon-left"><i class="fa fa-edit"></i> Edit</button>
                            <button class="btn btn-outline-danger btn-icon icon-left"><i class="fa fa-trash"></i> Delete</button>
                        </center>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr>
    </div>                                
</div>
