<div id="fabposition">
    <div id="fabcontent">
		<div id="extending-fab" class="extending-fab" data-new-product-path="<%= new_product_path %>">
		    <br>
		    <i class="fas fa-camera" style="color: white; font-size: 24px;"></i>
		    <span id="extending-fab-text" class="hidden" style="margin-left: 5px; margin-top: 7px; color: white;">
		        <h6>Sell Item</h6>
		    </span>
		    <br>
		</div>
	</div>
</div>