<div style="z-index: 2147483647; position: absolute; bottom: 10px; right: 10px">
    <%= link_to new_product_path do %>
        <button class="kc_fab_main_btn d-lg-none d-md-none" style="width: 30px; height: 30px; font-size: 12px">+</button>
        <button class="kc_fab_main_btn d-none d-md-block">+</button>
    <% end %>
</div>