<% title "Delivery Pricing" %>
<% description "We are helping you to sell and to search for a good quality secondhand items through our website. A matching platform of secondhand items for foreigners living in Japan!" %>
<% keywords "Main, Items, Secondhand, Cheap, Delivery, Sell, Buy, Sapporo, Hokkaido, Japan, Gaijin" %>

<div class="main-content" style="width: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Delivery Pricing</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            (Effective from November 1st, 2019)<br>
                            SAPPORO ONLY<br>
                            You will be charged 950 yen/15 minutes from the time we arrive in your place. There will be 990 yen as starting price, vary depending city<br>

                            INSIDE SAPPORO, Hokudai Area<br>
                            Within Soen-Kita 24-Higashi Kuyakusho-Susukino): from 990 yen<br> 
                            <br>
                            INSIDE SAPPORO, Outside Hokudai<br>
                            Kita-ku, Chuo-ku, Higashi-ku, Minami Ku: from 2700 yen<br>
                            Toyohira-ku: from 2700 yen<br>
                            Shiroishi-ku: from 2700 yen<br>
                            Nishi-ku: from 3600 yen<br>
                            Teine-ku: from 3600 yen<br>
                            Atsubetsu-ku: from 4500 yen<br>
                            Kiyota-ku: from 5350 yen<br>
                            <br>
                            OUTSIDE SAPPORO<br>
                            SAPPORO <--> KITA HIROSHIMA ： from 5350 yen<br>
                            SAPPORO <--> ENIWA ： from 7500 yen<br>
                            SAPPORO <--> OTARU ： from 7600 yen<br>
                            SAPPORO <--> CHITOSE：  from 9000 yen<br>
                            <br>
                            (In case of sudden change of [starting time], you will be charged based on the REAL starting time)<br>
                            <br>
                            Our business hour is from 9 am to 8 pm, in case you want to book outside this time, please contact us.<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
