<% title "Delivery Pricing" %>
<% description "We are helping you to sell and to search for a good quality secondhand items through our website. A matching platform of secondhand items for foreigners living in Japan!" %>
<% keywords "Main, Items, Secondhand, Cheap, Delivery, Sell, Buy, Sapporo, Hokkaido, Japan, Gaijin" %>

<div class="main-content" style="width: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Delivery Pricing</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            (Effective from February 28th, 2020)<br>
                            SAPPORO ONLY<br>
                            You will be charged from the time we arrive in your place.<br>

                            <h5>INSIDE SAPPORO, Hokudai Area</h5>
                            Within Soen-Kita 24-Higashi Kuyakusho-Susukino): basic price 990 yen + 1350 yen/ 15 minutes + 10% service charge<br>
                            <center><%= image_tag "deliverymap.jpg", style: "max-height: 400px;" %></center><br>

                            <h5>INSIDE SAPPORO, Outside Hokudai</h5>
                            Kita-ku, Chuo-ku, Higashi-ku, Minami Ku: basic price 2700 yen + 950 yen/ 15 minutes + 10% service charge<br>
                            Toyohira-ku: basic price 2700 yen + 950 yen/ 15 minutes + 10% service charge<br>
                            Shiroishi-ku: basic price 2700 yen+ 950 yen/ 15 minutes + 10% service charge<br>
                            Nishi-ku:  basic price 3600 yen+ 950 yen/ 15 minutes + 10% service charge<br>
                            Teine-ku: basic price 3600 yen+ 950 yen/ 15 minutes + 10% service charge<br>
                            Atsubetsu-ku: basic price 4500 yen+ 950 yen/ 15 minutes + 10% service charge<br>
                            Kiyota-ku: basic price 5350 yen+ 950 yen/ 15 minutes + 10% service charge<br>
                            <br>
                            <h5>OUTSIDE SAPPORO</h5>
                            SAPPORO <--> KITA HIROSHIMA ： basic price 5350 yen+ 950 yen/ 15 minutes + 10% service charge<br>
                            SAPPORO <--> ENIWA ： basic price 7500 yen+ 950 yen/ 15 minutes + 10% service charge<br>
                            SAPPORO <--> OTARU ： basic price 7600 yen+ 950 yen/ 15 minutes + 10% service charge<br>
                            SAPPORO <--> CHITOSE： basic price 9000 yen+ 950 yen/ 15 minutes + 10% service charge<br>
                            <br>
                            (In case of sudden change of [starting time], you will be charged based on the REAL starting time)<br>
                            <br>
                            Our business hour is from 10:30 am to 6 pm, in case you want to book outside this time, please contact us.<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
