<% title "Delivery Pricing" %>
<% description "We are helping you to sell and to search for a good quality secondhand items through our website. A matching platform of secondhand items for foreigners living in Japan!" %>
<% keywords "Main, Items, Secondhand, Cheap, Delivery, Sell, Buy, Sapporo, Hokkaido, Japan, Gaijin" %>

<div class="main-content" style="width: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>物流计价</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            从11月1号2019年开始<br>
                            札幌市内<br>
                            从我们到你的地方的时候开始结算950日元每个15分钟,有990日元基本费,每一个城市不一样价格。<br>

                            札幌市内,北海道大学附近<br>
                            桑园站-北24站-东区役所站-薄野站里面): from 990 yen<br> 
                            <br>
                            札幌市内, 北海道大学外面<br>
                            北区，中央区，东区，南区: from 2700 yen<br>
                            丰平区: from 2700 yen<br>
                            白石区: from 2700 yen<br>
                            西区: from 3600 yen<br>
                            手稲区: from 3600 yen<br>
                            厚別区: from 4500 yen<br>
                            清田区: from 5350 yen<br>
                            <br>
                            札幌市外<br>
                            札幌 <--> 北广岛 ： from 5350 yen<br>
                            札幌 <--> 惠庭 ： from 7500 yen<br>
                            札幌 <--> 小尊 ： from 7600 yen<br>
                            札幌 <--> 千岁：  from 9000 yen<br>
                            <br>
                            万一有什么[开始时间]的变化, 我们会根据实际开始时间向您收费。<br>

                            我们的营业时间是从早上9点到晚上8点，如果要在时间以外订，请跟我们联系<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
