<% title "Delivery Pricing" %>
<% description "We are helping you to sell and to search for a good quality secondhand items through our website. A matching platform of secondhand items for foreigners living in Japan!" %>
<% keywords "Main, Items, Secondhand, Cheap, Delivery, Sell, Buy, Sapporo, Hokkaido, Japan, Gaijin" %>

<div class="main-content" style="width: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>物流计价</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            从2月28号2020年开始<br>
                            <h5>札幌市内,北海道大学附近</h5>
                            桑园站-北24站-东区役所站-薄野站里面): 基本费990 日元 + 1350日元/15分钟 + 10%手续费<br>
                            <center><%= image_tag "deliverymap.jpg", style: "max-height: 400px;" %></center><br>

                            <h5>札幌市内, 北海道大学外面</h5>
                            北区，中央区，东区，南区: 基本费2700 日元 + 950日元/15分钟 + 10%手续费<br>
                            丰平区: 基本费 2700 yen 日元 + 950日元/15分钟 + 10%手续费<br>
                            白石区: 基本费 2700 yen 日元 + 950日元/15分钟 + 10%手续费<br>
                            西区: 基本费 3600 yen 日元 + 950日元/15分钟 + 10%手续费<br>
                            手稲区: 基本费 3600 yen 日元 + 950日元/15分钟 + 10%手续费<br>
                            厚別区: 基本费 4500 yen 日元 + 950日元/15分钟 + 10%手续费<br>
                            清田区: 基本费 5350 yen 日元 + 950日元/15分钟 + 10%手续费<br>
                            <br>
                            从我们到你的地方的时候开始结算.<br>
                            <br>
                            <h5>札幌市外</h5>
                            札幌 <--> 北广岛 ： 基本费 5350 yen 日元 + 950日元/15分钟 + 10%手续费<br>
                            札幌 <--> 惠庭 ： 基本费 7500 yen 日元 + 950日元/15分钟 + 10%手续费<br>
                            札幌 <--> 小尊 ： 基本费 7600 yen 日元 + 950日元/15分钟 + 10%手续费<br>
                            札幌 <--> 千岁： 基本费  9000 yen 日元 + 950日元/15分钟 + 10%手续费<br>
                            <br>
                            万一有什么[开始时间]的变化, 我们会根据实际开始时间向您收费。<br>
                            <br>
                            我们营业时间是从早上10点半到18点，如果要在营业时间外约请先给我们联系联系(微信号 ·senorypuppy)<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
