<% title "Delivery Pricing" %>
<% description "We are helping you to sell and to search for a good quality secondhand items through our website. A matching platform of secondhand items for foreigners living in Japan!" %>
<% keywords "Main, Items, Secondhand, Cheap, Delivery, Sell, Buy, Sapporo, Hokkaido, Japan, Gaijin" %>

<div class="main-content" style="width: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Job Application Terms and Conditions</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            Personal Information Collection Agreement<br>
                            We will manage and protect the handling of your information as follows:<br>
                            <br>
                            1. What is personal information?<br>
                            Information about an individual, such as name, date of birth, address, telephone number, e-mail address, resume, job history, images, and various types of data which can identify an individual.<br>
                            <br>
                            2. About the purpose of using your personal information<br>
                            We will use the personal information received from you for the provision of a recruitment service (hereinafter referred to as this service) and our other services. In providing this service, we will contact you via e-mail, telephone, postal mail, etc. with information about work, operation status, and information on our services and systems. The provision of information is voluntary, but please note that if it is not possible, we may not be able to provide the above services.<br>
                            <br>
                            3. Provision of collected personal information to third parties and outsourcing<br>
                            If you wish to work, we will provide the personal information (resume, job history, etc.) given by you to companies if necessary.<br> 
                            <br>
                            4. Period of service provision<br>
                            As a general rule, the Service provided by the Company will be provided for two years from the date you apply to the Service. If there is an offer to renew the offer period, it will be extended every year. If the renewal procedure is not taken, or if the Company's communication is interrupted due to unknown location, etc., we may stop providing the service at our discretion.
                            * If this registration has not been completed within 6 months from the date of provisional registration on the Web, we will stop providing this service and delete data.<br>
                            <br>
                            5. Disclosure, correction and deletion of personal information<br>
                            If there is a request, complaint or consultation from an individual for notification of purpose of use, disclosure, correction, addition or deletion of content, suspension of use, elimination, or suspension of provision to a third party, we will deal with them after checking the individual information. Please contact the inquiry desk below for requests for disclosure ,etc.. In addition, personal information will be kept for a certain period of time even after the service is terminated, in accordance with laws and regulations. Personal information whose storage period has expired will be immediately deleted.<br>
                            <br>
                            6. Confirmation for providing us personal information<br> 
                            By pressing the "I agree" button on this website, we understand that you agree with the above 1-5. The data filled on the form will be submitted to Jobkita so Jobkita team could find the most suitable job according to your preferences<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
