<% title "Terms and Condition" %>
<% description "2gaijin.com always tries to maintain and to monitor activities done in this site. Even though suspicious activities/posts will be immediately removed, there will still be small chance of fraud failed to be recognized by admins." %>
<% keywords "Main, Items, Secondhand, Cheap, Delivery, Sell, Buy, Sapporo, Hokkaido, Japan, Gaijin" %>

<div class="main-content" style="width: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Terms, Policies &amp; Rules</h4>
                    </div>
                    <div class="card-body">
                        <p class="h5">Terms &amp; Conditions</p>
                        <p>
                            <strong><a href="https://2gaijin.com">2gaijin.com</a></strong> always tries to maintain and to monitor activities done in this site. Even though suspicious activities/posts will be immediately removed, there will still be small chance of fraud failed to be recognized by admins. This website is merely providing online platform for foreigners and/or Japanese to interact with each other, <a href="https://2gaijin.com">2gaijin.com</a> team will not be hold responsible for:
                            <ul>
                                <li>any loss/damage caused by users' own negligence, please be careful when sending money/goods to other party</li>
                                <li>any loss/damage caused by force majeure</li>
                                <li>any loss/damage caused by third party providers (courier, post offices, banks, etc) that has no connections with <a href="https://2gaijin.com">2gaijin.com</a></li>
                            </ul>
                            <p class="h5">Privacy &amp; Policies</p>
                            This page informs you of our policies regarding the collection, use and disclosure of Personal Information we receive from users of the Site. We use your Personal Information only for providing and improving the site. By using the site, you agree to the collection and use of information in accordance with this policy. While using our site, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to your name ("Personal Information").
                            <p class="h5" style="margin-top: 15px;">Rules</p>
                            The following items and acts mentioned in the followings are forbidden:
                            <ul>
                                <li>Soliciting activities that are deemed as illegal according to Japanese law.</li>
                                <li>Advertising/selling items that are prohibited according to Japanese law.</li>
                                <li>Posting threatening, insulting, and/or other online postings that are illegal according to Japanese law.</li>
                                <li>Other online activities that are illegal according to Japanese law.</li>
                            </ul>
                            Failure to comply with the aforementioned items may results in users' account being blocked, and in an event of illegal/criminal act, <a href="https://2gaijin.com">2gaijin.com</a> may need to provide local law enforcement with personal information of users who are breaking Japanese law.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
