<div class="main-content" style="width: 100%;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link" href="<%= user_root_url %>"><h4>Edit Profile</h4></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="<%= user_product_url %>"><h4>Listed Products</h4></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="<%= user_address_url %>"><h4>Shipping Address</h4></a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <%= render 'users/registrations/profile/password' %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

